/* .popup-form {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background-color: #fff;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup-form h3 {
  margin-top: 0;
}

.popup-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.popup-form input[type="email"],
.popup-form input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.popup-form button:hover {
  background-color: #0056b3;
}

.popup-form .error {
  color: red;
  margin-top: 10px;
}

.popup-form .form-content {
  flex: 1;
}

.popup-form .footer {
  display: flex;
  flex-direction: column;
}

.popup-form .footer button {
  margin-top: 10px;
}

.popup-form .close-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.popup-form .close-button:hover {
  background-color: #0056b3;
}  */


.popup-form {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background-color: #fff;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup-form h3 {
  margin-top: 0;
}

.popup-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.popup-form input[type="email"],
.popup-form input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.popup-form button:hover {
  background-color: #0056b3;
}

.popup-form .error {
  color: red;
  margin-top: 10px;
}

.popup-form .form-content {
  flex: 1;
}

.popup-form .footer {
  display: flex;
  flex-direction: column;
}

.popup-form .footer button {
  margin-top: 10px;
}

.popup-form .close-button {
  position: absolute;
  bottom: 50px;
  left: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.popup-form .close-button:hover {
  background-color: #0056b3;
}
