.popup-form {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 30%;
  background-color: #fff;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup-form h3 {
  margin-top: 0;
}

.popup-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.popup-form input[type="email"],
.popup-form input[type="text"],
.popup-form input[type="tel"],
.popup-form input[type="number"],
.popup-form select {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.popup-form button {
  background-color: #fff; /* White background */
  color: #6A0DAD; /* Purple text */
  border: none; /* No border */
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px; /* Increased font size */
  font-weight: bold; /* Bold text */
  padding: 8px 16px;
  margin-right: 10px;
}

.popup-form button:hover {
  background-color: #f0f0f0; /* Light grey background on hover */
}

.popup-form .error {
  color: red;
  margin-top: 10px;
}

.popup-form .form-content {
  flex: 1;
}

.popup-form .footer {
  display: flex;
  flex-direction: column;
}

.popup-form .footer button {
  margin-top: 10px;
}

.popup-form .close-button {
  width: 10%;
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.popup-form .close-button svg {
  fill: #000;
}

.popup-form .stage-indicator {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.popup-form .stage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-right: 10px;
}

.popup-form .stage.active {
  background-color: #6A0DAD; /* Purple background */
}

.button-group {
  display: flex;
  justify-content: flex-start;
}

.button-group button {
  margin-right: 10px;
  background-color: #fff; /* White background */
  color: #6A0DAD; /* Purple text */
  border: none; /* No border */
  padding: 8px 16px;
  font-size: 18px; /* Increased font size */
  font-weight: bold; /* Bold text */
}

.button-group button:hover {
  background-color: #f0f0f0; /* Light grey background on hover */
}